---
layout: default
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---
<div>
  {% markdown %}
  # Page not found
  Go [home](/){style="font-weight: bold"}
  {% endmarkdown %}
</div>
{% image "https://www.11ty.dev/img/possum-balloon-original.png", "The possum is Eleventy’s mascot" %}
