---
layout: default
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---
<div>
  <h1>Page not found</h1>
  <p>Go <a href="/">home</a></p>
  <img  src="/assets/images/eleventy_logo.png" alt="The possum is Eleventy’s mascot">
</div>
